.nav {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:link {
  text-decoration: none;
  color: none;
}

:visited {
  text-decoration: none;
  color: none;
}
